body{
    margin: 4%;
    background-color: #212529;
}
 
.heading{
    color: white;
}

#statusText {
    width: 100%;
    padding: 20px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background: #212529;
    color: orangered;
}

.topNavBar{
    color: #6a6d70
}

.buttons{
    justify-content:center
}

.timer{
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}